<div>
    <p>Hi <%= data.name %> !</p>
    <p>Follow the link below to change your password</p>
    <br>
    <a href="<%= data.link %>">Reset Password Link</a>
    <br>
    <p>Dr. Goel's Dental And Maxillofacial Diagnostics</p>
    <p>Thank You!</p>
</div>