<div>
    <p>Hi <%=data.name%>!</p>
    <p>We regret to inform you that your appointment has been cancelled</p>
    <br>
    <p>Reason: <%= data.reason%>
    </p>
    <br>
    <p>Dr. Goel's Dental And Maxillofacial Diagnostics</p>
    <p>Thank You!!</p>
</div>